/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bin/
/node_modules/

# rspec failure tracking
.rspec_status

*.swp
*.so
*.bundle
*.lock
mkmf.log
tags
.DS_Store
.ruby-version
